body {
    background-color: #D8E2DC;
    font-family: sans-serif;
    font-weight: 600;
}

.interface {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 350px;
    height: 98vh;
}

#drawning_field {
    grid-column: 1;
    grid-row: 1;
}

#interaction {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 280px 1fr;
    grid-column: 2;
    grid-row: 1;
}

#clustering_field {
    background-color: #edede9;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#settings {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 30px 1fr 30px 1fr;
}

.settingsButton {
    border-radius: 10px;
    background-color: #d6ccc2;
    font-family: sans-serif;
    font-weight: 600;
}

.modeButtons {
    display: grid;
    grid-gap: 5px;
}

#add {
    grid-row: 1;
}

#delete {
    grid-row: 1;
}

#info {
    grid-row: 1;
}
